<ion-header>
  
  <ion-toolbar color="warning">
    
    
        <ion-back-button slot="start" defaultHref="inicio" ></ion-back-button>
    
            <ion-title >{{id== 0 ? 'Nuevo Pedido' : 'Agregar producto'}}  </ion-title>
    
      <ion-buttons slot="end">
        <ion-button (click)="Guardar()">


          <ion-icon name="save" ></ion-icon>
        </ion-button>

      </ion-buttons>
    
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Input Items -->
<ion-list>
  <ion-item>
    <ion-label position="stacked">Cliente</ion-label>
    <ion-select placeholder="Seleccionar" [(ngModel)]="cliente_id" [disabled]="id !=0"  okText="Seleccionar" cancelText="Cancelar">
      <ion-select-option [value]="cliente.id" *ngFor="let cliente of clientes">{{cliente.nombre}}</ion-select-option>
      
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Vendedor</ion-label>
    <ion-select placeholder="Seleccionar" [(ngModel)]="usuario_id" [disabled]="id !=0"  okText="Seleccionar" cancelText="Cancelar">
      <ion-select-option [value]="usuario.id" *ngFor="let usuario of usuarios">{{usuario.nombre}}</ion-select-option>
      
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Fecha</ion-label>
    <ion-datetime [(ngModel)]="fecha" displayFormat="DD/MM/YYYY" placeholder="Seleccionar fecha" cancelText="Cancelar" doneText="Seleccionar"></ion-datetime>
  </ion-item>
  <ion-item *ngIf="id != 0">
    <ion-label position="stacked">Estado</ion-label>
    <ion-select placeholder="Seleccionar" [(ngModel)]="status"  okText="Seleccionar" cancelText="Cancelar">
      <ion-select-option value="0" >Creado</ion-select-option>
      <ion-select-option value="1" >Procesado</ion-select-option>
      <ion-select-option value="1" >Finalizado</ion-select-option>
    </ion-select>
  </ion-item>
 
  </ion-list>

</ion-content>
